<div id="informer" class="alert alert-dismissible" ng-class ="informer.status" ng-show="informer.show" role="alert">
    <!--button type="button" class="close_alert" ><span aria-hidden="true">&times;</span></button-->
    <div id="informer_text" ng-bind-html="informer.text"></div>
</div>

